@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=Noto+Sans+HK:wght@300&family=Playfair+Display:ital,wght@1,800&display=swap');


.ui.segment {
    padding: 3em;
    margin: 4em;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    background-color: #ff7575;
};

